# fly.toml app configuration file generated for realworld-tall-app on 2023-06-20T17:20:04+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "realworld-tall-app"
primary_region = "sin"
console_command = "php /var/www/html/artisan tinker"

[build]
  [build.args]
    NODE_VERSION = "18"
    PHP_VERSION = "8.2"

[env]
  APP_NAME = "Realworld TALL app"
  DB_CONNECTION = "pgsql"
  APP_URL = "https://realworld-tall-app.fly.dev"
  APP_ENV = "production"
  LOG_CHANNEL = "stderr"
  LOG_LEVEL = "info"
  LOG_STDERR_FORMATTER = "Monolog\\Formatter\\JsonFormatter"
  SESSION_DRIVER = "cookie"
  SESSION_SECURE_COOKIE = "true"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
